<div class="animated fadeInRight">
	<div class="ibox">
		<div class="ibox-title">
			<h5>{{ project.name }}</h5>
			<div class="ibox-tools">
				<small>Réalisé le {{ project.completedAt|date('d/m/Y') }}</small>
			</div>
		</div>
		<div class="ibox-content">
            <p>
                <strong>Photo de couverture</strong>
            </p>
            {% if project.photo %}
                <ul class="sortable-list agile-list">
                    <li name="project_view" id="{{ project.id }}" data-id_project="{{ project.id }}">
                        <div class="row">
                            <div class="col-lg-4 text-left">
                                <img class="img-responsive" src="{{ asset(project.photo.webPath) }}" />
                            </div>
                            <div class="col-lg-5 text-center">
                                Ajouté le {{ project.photo.addedAt|date('d/m/Y') }}
                            </div>
                            <div class="col-lg-3 text-right">
                                <div class="btn-group">
                                    <a class="btn btn-info btn-xs">
                                        <i class="fa fa-delete"></i>
                                        Modifier
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            {% else %}
                <p>
                    <a class="btn btn-primary btn-sm action_project_add">Ajouter</a>
                </p>
            {% endif %}
            </p>
            <p><strong>Photos</strong></p>
            <ul class="sortable-list agile-list ui-sortable" name="photos">
                {% for item in project.items %}
                    <li name="project_view" id="{{ project.id }}" data-id_project="{{ project.id }}">
                        <div class="row">
                            <div class="col-lg-4 text-left">
                                <img class="img-responsive" src="{{ asset(item.photo.webPath) }}" />
                            </div>
                            <div class="col-lg-5 text-center">
                                Ajouté le {{ item.photo.addedAt|date('d/m/Y') }}
                            </div>
                            <div class="col-lg-3 text-right">
                                <a class="btn btn-danger btn-xs">
                                    <i class="fa fa-delete"></i>
                                    Supprimer
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <p>
                <a class="btn btn-primary btn-sm action_project_add">Ajouter une photo</a>
            </p>
		</div>
	</div>
</div>
<script>
    $(document).ready(function(){
        $('[name="photos"]').sortable({
            connectWith: '[name="photos"]',
            update: function( event, ui ) {
                var projects = window.JSON.stringify($('[name="projects"]').sortable('toArray'));
                /*$.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: '{{ path('app_project_ajax_order') }}',
                    data:{
                        projects: projects
                    },
                    success: function(response){
                        if(!response.valid){
                            swal('Oups !', 'Une erreur est survenue.' + "\n" + 'Code Erreur: ' + response.code, 'error');
                            return;
                        }
                    },
                    error: function(){
                        swal('Oups !', 'Une erreur est survenue.' + "\n" + 'Code Erreur: VPL01', 'error');
                    }
                });*/
            }
        }).disableSelection();
    });
</script>