<div class="animated fadeInRight">
	<div class="ibox" data-id_project="{{ project.id }}">
		<div class="ibox-title">
			<h5>{{ project.name }}</h5>
			<div class="ibox-tools">
				<a class="btn btn-primary btn-sm action_project_photo_add">Ajouter une photo</a>
			</div>
		</div>
		<div class="ibox-content">
			{% if photos %}
				<ul class="sortable-list agile-list ui-sortable" name="photos">
					{% for photo in photos %}
						<li name="project_view" id="{{ photo.id }}" data-id_project="{{ photo.id }}">
							<div class="row">
								<div class="col-lg-4 text-left">
									<img class="img-responsive" src="{{ asset(web_thumbs_directory ~ '/' ~ photo.thumb) }}" />
								</div>
								<div class="col-lg-5 text-center">
									Ajouté le {{ photo.addedAt|date('d/m/Y') }}
								</div>
								<div class="col-lg-3 text-right">
									<a class="btn btn-danger btn-xs">
										<i class="fa fa-delete"></i>
										Supprimer
									</a>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<a class="btn btn-primary btn-sm action_project_photo_add">Ajouter une photo</a>
			{% endif %}
		</div>
	</div>
</div>
<script>
    $(document).ready(function(){
        $('[name="photos"]').sortable({
            connectWith: '[name="photos"]',
            update: function( event, ui ) {
                var photos = window.JSON.stringify($('[name="photos"]').sortable('toArray'));
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: '{{ path('app_project_view_ajax_orderPhoto') }}',
                    data:{
                        photos: photos
                    },
                    success: function(response){
                        if(!response.valid){
                            swal('Oups !', 'Une erreur est survenue.' + "\n" + 'Code Erreur: ' + response.code, 'error');
                            return;
                        }
                    },
                    error: function(){
                        swal('Oups !', 'Une erreur est survenue.' + "\n" + 'Code Erreur: VPV01', 'error');
                    }
                });
            }
        }).disableSelection();
        
        $('.action_project_photo_add').click(function(e){
            e.preventDefault();
            e.stopPropagation();
            $.get('{{ path('app_project_photo_modal_add', { id: project.id }) }}').done(function(response){
                $(response).modal();
            });
        });
    });
</script>