<div class="modal inmodal fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {{ form_start(form, {'action': path('app_project_modify')}) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">fermer</span></button>
                    <h4 class="modal-title">Modifier le projet</h4>
                </div>
                <div class="modal-body">
					<div class="row hidden">
						<div class="form-group">
							{{ form_label(form.id, "Id", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_widget(form.id, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
                    <div class="row">
						<div class="form-group">
							{{ form_label(form.name, "Nom (facultatif)", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							{{ form_label(form.completedAt, "Terminé le", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_widget(form.completedAt, {'attr': {'class': 'form-control'}}) }}
						</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Annuler</button>
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>